$font_size: 22px;
$width: 1000px;
$height: 100px;
$bg: #CC4331;
$bg_hover: lighten($bg, 5%);
$txt_color: white;
$bg_shadow: rgba(0,0,0,0.4);



html {
  width: 100%;
  height: 100%;
}


button {
  display: center;
  font-size: $font_size;
  text-align: center;
  line-height: $height;
  text-decoration: none;
  color: $txt_color;
  background-color: $bg;
  border-radius: 4px;
  
  

  
  &:hover{
    background-color: $bg_hover;
  }
  &:active {
    margin-top: (-$height)/2 + 4;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 80px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: .5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, purple, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
 } 

 h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 80px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: .5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, purple, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  
 } 